@media(max-width:700px) {
    h1 {
        font-size: 35px;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .cartao {
        width: 270px;
        height: 440px;
    }

    button {
        width: 30px;
        height: 30px;
    }

    .seta {
        width: 45px;
        height: 45px;
    }

    main {
        gap: 20px;
    }

    .topo {
        margin-bottom: 195px;
    }

    p {
        max-height: 120px;
        font-size: 14px;
    }
    ul{
        width: 270px;
        height: 440px;
        margin-left: 15px;
    }
    h3{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }
    .vida{
        font-size: 14px;
    }
    .going{
        font-size: 14px;
    }
    .cartao.barco{
        background-repeat: no-repeat;
        background-size: cover;
    }
    body{
        background-attachment: scroll;
    }

}